*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    font-size: 16px;
    --main-bg-color: #111116;
    --main-header-color: #08080D;
    --main-accent-color: #FF3939;
    --main-text-color: #eeeeee;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

a
{
    text-decoration: none;
}

.header
{
    background: var(--main-header-color);
}

.form
{
    display: none;
}
