*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    font-size: 16px;
    --main-bg-color:#111116;
    --main-navbar-color:#08080D;
    --main-accent-color:#FF3939;
}

body
{
    font-family: sans-serif;
}

a
{
    text-decoration: none;
}

.form
{
    display: none;
}
