*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    font-size: 16px;
    --main-bg-color: #111116;
    --main-header-color: #08080D;
    --main-accent-color: #FF3939;
    --main-text-color: #eeeeee;
    --main-task-color: #17232e;;

    --secondary-bg-color: #333338;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

a
{
    text-decoration: none;
}

img
{
    display: block;
    max-width: 100%;
}

button
{
    display: block;
}

input, textarea
{
    font-family: inherit;
    font-size: 100%;
    appearance: none;
}

.header
{
    background: var(--main-header-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__title
{
    display: none;
}

.header__img
{
    width: 80px;
}

.options
{
    display: flex;
    width: 50%;
    max-width: 200px;
    justify-content: space-between;
}

.options__button
{
    appearance: none;
    width: 42px;
    height: 42px;
    border: 0;
    border-radius: 50%;
    background-color: var(--main-accent-color);
    background-position: 6px 6px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.options__button:active
{
    background-color: #fc5b5b;
}

.options__button span
{
    display: none;
}

@media screen and (min-width: 768px) {

    .options
    {
        max-width: 400px;
    }
    .options__button
    {
        width: auto;
        height: 40px;
        border-radius: 2px;
        padding: 10px;
        padding-left: 40px;
        background-position: 7.5px 7.5px;
        background-size: 25px 25px;
        color: var(--main-text-color);

        display: flex;
    }

   .options__button span
   {
    display: block;
   } 

   form, .datetime, .tasks
   {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
   }
}

.options__button--add
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.options__button--download
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 19h18v2H3v-2zM13 9h7l-8 8-8-8h7V1h2v8z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.options__button--history
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12h2c0 4.418 3.582 8 8 8s8-3.582 8-8-3.582-8-8-8C9.536 4 7.332 5.114 5.865 6.865L8 9H2V3l2.447 2.446C6.28 3.336 8.984 2 12 2zm1 5v4.585l3.243 3.243-1.415 1.415L11 12.413V7h2z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}
.form, .editform
{
    padding: 10px;
    display: none;
    flex-flow: column wrap;
}

.form__name, .form__time, .form__description
,input[type="submit"]
{
    margin-bottom: 5px;
    border: 0;
    padding: 5px;
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
}

.form__description
{
    resize: vertical;
    min-height: 80px;
}

.datetime
{
    padding: 10px;
}

.datetime__date, .datetime__time
{
    text-align: left;
}

.datetime__date
{
    margin-bottom: 5px;
}

/* history form */

.history_form
{
   display: none; 
}

.tasks
{
    padding: 10px;
}

.tasks__options
{
    display: flex;
    justify-content: flex-end;
    background-color: #2d465c;
    padding: 5px;
}

.tasks__option--text
{
    display: none;
}

.tasks__option
{
    display: block;
    width: 34px;
    height: 34px;

    border: 0;

    background-size: 24px 24px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-color: transparent;
}
.tasks__option:hover
{
    background-color: rgba(255, 255, 255, 0.144);;
}

.tasks__option:first-child
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm-8 5v6h2v-6H9zm4 0v6h2v-6h-2zM9 4v2h6V4H9z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.tasks__option:last-child
{
    margin-left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M9.243 19H21v2H3v-4.243l9.9-9.9 4.242 4.244L9.242 19zm5.07-13.556l2.122-2.122a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414l-2.122 2.121-4.242-4.242z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.tasks__task
{
    background-color: var(--main-task-color);

    margin-bottom: 20px;
    padding: 0;
}

.tasks__info
{
    padding: 5px 10px;
}

.tasks__description
{
    margin-top: 5px;
}

.tasks__add_time
{
    margin-top: 20px;
}

.footer
{
    padding: 5px;
}
.footer__copy
{
    font-size: 0.7rem;
}

@media print
{
    .options
    {
        display: none;
    }

    .form
    {
        display: none !important;
    }
}