*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    font-size: 16px;
    --main-bg-color: #111116;
    --main-header-color: #08080D;
    --main-accent-color: #FF3939;
    --main-text-color: #eeeeee;

    --secondary-bg-color: #333338;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

a
{
    text-decoration: none;
}

img
{
    display: block;
    max-width: 100%;
}

button
{
    display: block;
}

input, textarea
{
    font-family: inherit;
    font-size: 100%;
    appearance: none;
}

.header
{
    background: var(--main-header-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__title
{
    display: none;
}

.header__img
{
    width: 80px;
}

.bcon
{
    display: flex;
    margin-left: 10px;
}

.bcon__button
{
    appearance: none;
    width: 28px;
    height: 28px;
    border: 0;
    border-radius: 50%;
    background-color: var(--main-accent-color);
    background-position: 4px 4px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.bcon__button:active
{
    background-color: #fc5b5b;
}

.bcon__button + .bcon__button
{
    margin-left: 10px;
}

.bcon__button span
{
    display: none;
}

.bcon__button--add
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.bcon__button--download
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 19h18v2H3v-2zM13 9h7l-8 8-8-8h7V1h2v8z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.bcon__button--history
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12h2c0 4.418 3.582 8 8 8s8-3.582 8-8-3.582-8-8-8C9.536 4 7.332 5.114 5.865 6.865L8 9H2V3l2.447 2.446C6.28 3.336 8.984 2 12 2zm1 5v4.585l3.243 3.243-1.415 1.415L11 12.413V7h2z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}
.form
{
    padding: 10px;
    display: none;
    flex-flow: column wrap;
}

.form__title, .form__time, .form__description
,input[type="submit"]
{
    margin-bottom: 5px;
    border: 0;
    padding: 5px;
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
}

.form__description
{
    resize: vertical;
    min-height: 80px;
}

.datc
{
    padding: 10px;
}

.datc__date, .datc__time
{
    text-align: center;
}

.datc__date
{
    margin-bottom: 5px;
}

.tasks
{
    padding: 5px;
}

.footer
{
    padding: 5px;
}
.footer__copy
{
    font-size: 0.7rem;
}